.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 20px;
}

.category-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.book-card {
  background-color: #ffffff; 
  color: #000000; 
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}

.book-title {
  font-size: 1rem;
  margin: 10px 0 5px;
  color: #000;

}


.book-author {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #b85c1b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #a0521b;
}

